#header{
    text-align: center;
    font-size: 50px;
    color: rgb(231, 58, 231);
    border: solid rgb(219, 59, 179);
    width: 100%;
}
 h2{
   text-align: center;
   color: powderblue; 
   font-size: 35px;
   font-family: 'Lobster', cursive;
}
/*
h3{
  font-size: 30px;
  color: whitesmoke; 
  background-color: rgb(231, 58, 231);
  height: 100px;
  width: 60%;
  text-align: center;
  margin-left: -54px;
  margin-top: 282px;
}
h4{
    font-size: 30px;
    color: whitesmoke;
    background-color: tomato;
    width: 100%;
    text-align: center;
    width: 100%;
    height: 200px;
} */

body { 
    background-image: url("https://media2.giphy.com/media/oNb3GLUvhF768/giphy.gif");
    background-size: cover;
    height: auto;
    width: auto;
}

#rocket{
    font-size: 45px;
    color: silver;
    font-family: 'Courgette', cursive;
} 

#empower{
    height: 100px;
    width: 100%;
    margin-top: 61px;
}

.topnav{
    background-color: whitesmoke;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    font-size: 30px;
    
}
.topnav a{
    text-decoration: none;
}

#sleep{
    height: auto;
    width:  50%;
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 244px;
}
#heather{
    height: auto;
    width: 50%;
    color: white;
    font-size: 30px;
    text-align: center;
    margin-right: 300px;
    padding-left: 700px;
}

#Oily{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#oildrop{
    background-image: url('https://png2.kisspng.com/sh/c9db7687a5df8249b793e07b6032e2f0/L0KzQYm3U8A6N5d7j5H0aYP2gLBuTfRzd6EyjtdsdHX4gn7oTfRzd6Eyh9g2ZYP2dbB7ifFtNZDuhJ8AYXG1RLeBg8FnbpM8SJCAM0G3QIm3U8E2OmE6UKgBM0a0Q4K1kP5o/kisspng-drop-vecteur-a-drop-of-essential-oil-5aa24f8c1ffb70.531408031520586636131.png');
    height: 200px;
    background-repeat: no-repeat;
    background-size: 150px;
    position: relative;
    margin-left: 45%;
}

#twoMinutes{
    height: 200px;
    margin-top: 2px;
    width: 100%;
    text-align: right;
}
#twentySec{
    font-size: 30px;
    color: whitesmoke; 
    height: 100px;
    width: 60%;
    text-align: center;
    margin-left: -54px;
    margin-top: 282px;
  }
  #twoMinutes{
      font-size: 30px;
      color: whitesmoke;
      text-align: center;
      height: 200px;
      margin-top: 2px;
      width: 100%;
      text-align: right;
  }
  @media screen and (max-width:760px) {
      .topnav{ 
          display: flex;
          flex-direction: column;
          text-align: center;
        }
        
        .topnav a{
            border: solid purple 2px;

        }
        #heather{
            padding-left: 300px;
        }


  }