h1{
  font-size: 75px;  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: oblique;
  text-align: center;
  color: rgb(158, 16, 158)
}
#bacon { 
  height: 800px;
  width: 1500px; 
  background-image: url("https://pics.me.me/my-favorite-essential-oil-is-bacon-grease-37062648.png");
  background-repeat: no-repeat;
  margin-left: 470px;
}
#sleepTest{
  font-size: 30px;
  margin-top: -400px; 
  text-align: center 
  
}
#heatherTest{
   font-size: 30px;
   margin-top: 100px;
   text-align: center;
}
