body {
    background-color: rgb(135, 230, 26)
}
#p-total {
    color: #c70ac7;
    font-size: 100px;
    width: 182px; 
    height: 200px;
    position: relative;
    left: 570px;
    top: 100px;
    /* border: solid maroon; */
}
.total{
    width: 182px;
}

#header{
    font-size: 80px;
    text-align: center;
    color: rgb(128, 3, 149); 
    width: 800px;
}

#header > h1{
    font-size: 90px;
    text-align: center;
    width: 100vw;
}

#Goomba-image{
    text-align: left;

}
#Bowser-image{
    text-align: center;
    margin-top: 363px;
    position: relative;
    right: 35px; 
}

#Spiny-image{
     text-align: right
}

form {
    margin-top: -694px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
}
#images{
   display: flex;
   margin-top: 380px;
   justify-content: space-around;
}

button{
    width: 11%;
    margin-left: 588px;
    position: relative;
    top: 730px;
}

#imageMario{
     width: 100vw;
     align-items: center;
}

.newMario{
    width: 85%;
    height: 275px;
    background-size: cover;
    margin-left: 6%; 
}

#footer {
    /* display: flex; */
    text-align: center;
}
