 
h1 { color: green;
    font-family: Georgia;
    text-align: center;
}
h2 { font-family: Georgia;  
    text-align: center; 
}
p {line-height: 25 px;
}
a { text-decoration: none;
}
.upper { text-transform: uppercase;
}
a:hover { text-decoration: underline; 
} 